html, body{
    text-align: left;
    margin: 0;
    height: 100%;

}
.headingText{
    position:absolute;
    bottom:36px;    
}
.subHeadingText{
    height:48px;
    display: table-cell;
    vertical-align: bottom; 
}

.paragraphText{
margin-top: 16px;
}

.container{  
text-align: left;

}

#Content{

   margin-top:    360px; 
   padding-bottom:150px;
    
}


.selectBlock{
 
 display:inline-block;
}


p{
    display: inline-block;
    font-family: 'Fauna One', serif;   
    font-size: 16px;
    line-height: 32px;
}

h1{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 120px;
}

h2{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.refresh{
    display:inline-block;
    opacity: 0;
    border-radius: 8px;
    font-size: 24px;
    color:white;
    background-color:red;
    float:left;
    height:38px;
    margin-top: 8px;
}
.refreshVisibleParagraph{
    opacity: 1;
   
    width: 72px;
    transition: all .2s ease-in-out;
    
}

.minusVisible{
    width: 108px;
   
}

.refreshVisible{
    opacity: 1;
    transition: opacity .25s ease-in-out;  
    width: 36px;
    background-color:red;

}



.moveToBottom{
    position:absolute;
    bottom:0; 
}

.fa-refresh,.fa-plus,.fa-minus{
    font-size: 24px;
    padding: 8px;
    text-align: center;
    display: table;
    float: left;
        
}

.footer{
  
    padding-top:20px;
    text-align: center;
    background-color:white;
    color: white;


} 
}
